.thumbnail {
  object-fit: contain;
  position: relative !important;
  margin: auto;
}

.liLayout {
  max-width: 115px;
  overflow-wrap: break-word;
  text-align: center;
}

.imageView {
  object-fit: contain;
  position: relative !important;
  margin: auto;
}
